{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Simple URL Shortener</title>
</head>
<body>
    <header>
        <h1>Simple URL Shortener</h1>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        Some footer text
    </footer>
</body>